.nav-link {
  color: red;
}

@media (max-width: 1400px) and (min-width: 689px) {
  .header {
    margin-bottom: 70px;
  }
  .header-nav {
    height: 70px;
  }
  .menu {
    margin-left: 150px;
  }
  .initial-home {
    margin-left: 700px;
  }
}

@media (max-width: 688px) and (min-width: 320px) {
  .header {
    margin-bottom: 57px;
  }
  .mobile-menu {
    flex-direction: column;
    margin-top: 20px;
  }
}
