@media (min-width: 689px) and (max-width: 1400px) {
  .update-form {
    margin-left: 380px;
    margin-right: 380px;
  }
}

@media (min-width: 320px) and (max-width: 688px) {
  .update-form {
    margin-left: 30px;
    margin-right: 30px;
  }
}
